In [1]:
import datetime
import numpy as np
import pandas as pd
from dateutil.relativedelta import relativedelta
#from datetime import datetime
from dateutil.parser import parse
import seaborn as sb
import matplotlib.pyplot as mpl

In [2]:
print("****************************************************************")
print("*****************  HOME INSURENCE ******************************")
global df
# df = pd.read_csv('test.csv', parse_dates=[0], dayfirst=True)
# df = pd.read_csv('C:/Proyectos/DataSience/home_insurance/home_insurance_test.csv', encoding='latin-1', decimal=',' , parse_dates=[0], infer_datetime_format=True)
df = pd.read_csv('C:/Proyectos/DataSience/home_insurance/home_insurance_test.csv', encoding='latin-1', decimal=',')

# dataFrameProp()
f = df.head(5)
df.describe()
f

****************************************************************
*****************  HOME INSURENCE ******************************

,QUOTE_DATE,COVER_START,CLAIM3YEARS,P1_EMP_STATUS,P1_PT_EMP_STATUS,BUS_USE,CLERICAL,AD_BUILDINGS,RISK_RATED_AREA_B,SUM_INSURED_BUILDINGS,...,HP3_ADDON_PRE_REN,HP3_ADDON_POST_REN,MTA_FLAG,MTA_FAP,MTA_APRP,MTA_DATE,LAST_ANN_PREM_GROSS,POL_STATUS,i,Police
0,11/22/2007,22/11/2007,N,R,NaN,N,NaN,Y,19.0,1000000.0,...,N,N,N,NaN,NaN,NaN,274.81,Lapsed,1,P000001
1,11/22/2007,01/01/2008,N,E,NaN,Y,N,Y,25.0,1000000.0,...,N,N,Y,308.83,-9.27,NaN,308.83,Live,2,P000002
2,11/23/2007,23/11/2007,N,E,NaN,N,NaN,N,NaN,0.0,...,N,N,Y,52.65,52.65,03/11/2010,52.65,Live,3,P000003
3,11/23/2007,12/12/2007,N,R,NaN,N,NaN,N,NaN,0.0,...,N,N,N,NaN,NaN,NaN,54.23,Live,4,P000004
4,11/22/2007,15/12/2007,N,R,NaN,N,NaN,Y,5.0,1000000.0,...,N,N,N,NaN,NaN,NaN,244.58,Live,5,P000005

In [ ]:
# creo la columna Fecha del dia de hoy con el formato "%d-%m-%Y
# la idea es estandarizar los formatos de fecha, asi podemos hacer operaciones.. sino naranja fanta.
to_date = datetime.datetime.today().strftime("%d-%m-%Y") 
print(to_date)
df['to_date'] = to_date
print(df['to_date'])

In [ ]:
df.describe()
df.head()

In [ ]:
# cambiando el formato de fecha
print("antes")
print(df['to_date'])
df['to_date'] = pd.to_datetime(df['to_date'], format='%d-%m-%Y').dt.strftime('%Y-%m-%d')
print("despues")
print(df['to_date'])

In [ ]:
# cambiando el formato de fecha QUOTE_DATE
print("antes")
print(df['QUOTE_DATE'])
#df['QUOTE_DATE'] = pd.to_datetime(df['QUOTE_DATE'], format='%d/%m/%Y').dt.strftime('%Y/%m/%d')
df['QUOTE_DATE'] = pd.to_datetime(df['QUOTE_DATE'], format='%m/%d/%Y').dt.strftime('%Y-%m-%d')
print("despues")
print(df['QUOTE_DATE'])

# cambio formato de 0     11/22/2007 a 0     2007-11-22

In [44]:
# creo la columna tiempo de cobertura.
df['to_date'] =  pd.to_datetime(df['to_date'])
df['QUOTE_DATE'] =  pd.to_datetime(df['QUOTE_DATE'])
df['to_date'].head()
df['covert_dur'] = df['to_date'] - df['QUOTE_DATE']

In [45]:
df['covert_dur'].head()

0   5219 days
1   5219 days
2   5218 days
3   5218 days
4   5219 days
Name: covert_dur, dtype: timedelta64[ns]